body{
  background-color: pink;
  margin: 0;
}


.eye{
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  overflow: hidden;
}

.pupil, .pupils{
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.pupils{
  animation: updown 5s linear infinite;
}

@keyframes updown {
    from { transform: rotate(0deg) translateX(65px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(65px) rotate(-360deg); }
}


.eye1{
  margin-left: -300px;
}

.eye2{
  margin-left: -100px;
}

.eye3{
  margin-left: 100px;
}
